.content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 1520px;
    margin-inline: auto;
    padding: 1rem;
}

.card-grid {
    display: grid;
    padding: 1rem;
    gap: 1rem;
}

.card-wrapper {
    position: relative;
}

.card {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 350px;
    cursor: pointer;
}

.card-image-wrapper {
    border-radius: 5px;
    border: 5px solid black;
    width: 190px;
    height: 275px;
    aspect-ratio: 44 / 63;
    background: url('../assets/back_of_card.webp');
    position: relative;
}

.card-image-wrapper img {
    width: 190px;
    height: 275px;
}

.foil-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(160deg,
            rgba(131, 58, 180, 0.35) 0%,
            rgba(181, 200, 12, 0.35) 25%,
            rgba(253, 29, 29, 0.2) 50%,
            rgba(252, 133, 51, 0.3) 78%,
            rgba(252, 176, 69, 0.35) 100%) 0;
}

.foil-cover::after {
    text-align: center;
    content: "FOIL";
    position: absolute;
    right: 0;
    top: 1.5rem;
    width: 50px;
    height: 20px;
    background-color: black;
    color: white;
    opacity: 1;
}

.card-edition {
    text-decoration: none;
    color: var(--tertiary);
}

.card-edition,
.card-name {
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
}

.card-price {
    color: var(--green);
}

.popup-content {
    display: flex;
    gap: 1rem;
}

.card-image-large {
    max-width: 300px;
    height: 100%;
    width: 100%;
    aspect-ratio: 264 / 378;
}

.card-image-large-wrapper {
    border: 10px solid black;
    max-width: 300px;
    aspect-ratio: 264 / 378;
    background: url('../assets/back_of_card.webp');
    position: relative;
    border-radius: 10px;
}


.card-details-wrapper {
    padding: 1rem;
    display: grid;
    width: 100%;
    flex: 1;
    gap: 1rem;
}

.card-price-details {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    text-align: center;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.card-detail-labels {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-column: 1 / 5;
}

.card-detail-label {
    color: var(--tertiary);
}

.card-detail-label:last-of-type {
    margin-left: auto;
    margin-right: 2.5rem;
}

.card-basic-details h2 {
    margin: 0 0 1rem 0;
}

.card-disclaimer {
    color: var(--tertiary);
}

.card-price-details .cards-owned {
    display: flex;
    margin-left: auto;
    gap: 0.25rem;
}

.card-price-details button {
    border: none;
    border-radius: 0.5rem;
    width: 40px;
    height: 40px;
    background-color: var(--primary);
    cursor: pointer;
    font-size: 1.25rem;
}

.card-condition-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    place-items: center;
    grid-column: 1 / 5;
    background-color: var(--secondary);
    padding: 0.35rem;
    border-radius: 0.75rem;
}

.card-price-details button:disabled {
    cursor: not-allowed;
    background-color: var(--tertiary);
}

.card-price-details input::-webkit-outer-spin-button,
.card-price-details input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.card-price-details input[type=number] {
    -moz-appearance: textfield;
    text-align: center;
    border: 1px solid var(--tertiary);
    border-radius: 0.5rem;
    background-color: transparent;
    color: var(--font-colour);
    font-weight: bold;
}

.card-condition-row:nth-of-type(2) {
    border-left: 5px solid var(--green);
}

.card-condition-row:nth-of-type(3) {
    border-left: 5px solid var(--yellow);
}

.card-condition-row:nth-of-type(4) {
    border-left: 5px solid var(--orange);
}

.card-condition-row:nth-of-type(5) {
    border-left: 5px solid var(--red);
}

@media screen and (min-width: 1520px) {
    .card-grid {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media screen and (max-width: 1520px) {
    .card-grid {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media screen and (max-width: 1200px) {
    .card-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 900px) {
    .card-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 888px) {
    .card-results {
        text-align: center;
    }

    .popup-content {
        margin-top: 2rem;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 680px) {
    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 480px) {
    .card-grid {
        grid-template-columns: 1fr;
        place-items: center;
    }

    .card-price-details,
    .card-detail-labels,
    .card-condition-row {
        grid-template-columns: 1fr 1fr 2fr;
        grid-column: 1 / 4;
    }

    .card-detail-label:nth-of-type(2),
    .card-quantity {
        display: none;
    }

    .card-condition-row .card-price {
        font-size: 0.75rem;
    }
}