.editions-container {
    margin-top: 92px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editions-group {
    color: var(--font-colour);
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.editions-group h2 {
    border-bottom: 1px solid var(--tertiary);
}

.editions-group li {
    list-style: none;
}

.editions-group a {
    color: var(--font-colour);
    text-decoration-color: var(--secondary-font-colour);
}

.editions-group a:hover {
    color: var(--primary);
}

.edition-columns {
    display: flex;
}

@media screen and (max-width: 768px) {
    .edition-columns {
        flex-direction: column;
    }
}