.a-z-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary);
    border: 1px solid var(--tertiary);
    flex-wrap: wrap;
}

.a-z-wrapper a {
    text-decoration: none;
    color: var(--font-colour);
    padding: 0.5rem;
}

.a-z-wrapper a:hover {
    color: var(--background);
    background-color: var(--primary);
}

.filter-bar {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}

.filter-bar>div {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    color: var(--secondary-font-colour);
}

.filter-bar>div.filter-bar-main {
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}

.search-wrapper {
    width: 100%;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: var(--secondary);
    max-width: 500px;
    border: 1px solid var(--tertiary);
    border-radius: 1rem;
    position: relative;
}

.search-bar button {
    font-size: 1.5rem;
    color: var(--tertiary);
    height: 90%;
    padding-right: 1rem;
    border: none;
    cursor: pointer;
    display: grid;
    place-content: center;
    background-color: transparent;
}

.search-bar button:hover {
    color: var(--font-colour);
}

.search-bar input {
    background-color: transparent;
    border: none;
    padding: 1rem 0 1rem 1rem;
    color: var(--font-colour);
    width: 100%;
    font-size: 1rem;
}

.search-bar input:focus {
    outline: none;
}

/* Dropdown */
.dropdown-container {
    position: relative;
    display: inline-block;
    width: 200px;
}

.dropdown-container span {
    z-index: 1;
    position: absolute;
    top: 1rem;
    right: 1rem;
    pointer-events: none;
}

.custom-dropdown {
    appearance: none;
    background-color: var(--secondary);
    border: 1px solid var(--tertiary);
    border-radius: 1rem;
    padding: 1rem;
    width: 100%;
    font-size: 16px;
    color: var(--font-colour);
    cursor: pointer;
    position: relative;
}

.custom-option {
    padding: 1rem;
    background-color: var(--background);
    color: var(--font-colour);
    cursor: pointer;
}

select option:hover {
    background: var(--secondary);
}

.dropdown-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin-inline: auto;
}

.toggle-filters-btn {
    cursor: pointer;
    display: none;
    background-color: var(--secondary);
    border: 1px solid var(--tertiary);
    border-radius: 1rem;
    max-height: 52px;
    padding: 1rem;
    color: var(--font-colour);
    font-size: 1.25rem;
    margin-top: auto;
}

.toggle-filters-btn:hover {
    background-color: var(--background);
}

.toggle-filters-btn.show {
    background-color: var(--primary);
    color: var(--secondary);
}

.toggle-filters-btn.show:hover {
    filter: brightness(0.9);
}

.filter-bar>div.filter-bar-secondary {
    gap: 1rem;
}

.apply-btn {
    padding-inline: 1rem;
    height: 51px;
    margin-top: auto;
    border-radius: 1rem;
    border: none;
    background-color: var(--primary);
    color: var(--secondary);
}

@media screen and (max-width: 888px) {
    .search-wrapper {
        flex: 1;
    }

    .filter-bar-main {
        width: 100%;
        max-width: 500px;
        margin-inline: auto;
    }

    .filter-bar {
        flex-direction: column;
    }

    .toggle-filters-btn {
        display: block;
    }

    .filter-bar>div {
        display: flex;
        align-items: center;
    }

    .dropdown-container,
    .search-bar {
        width: 100%;
        max-width: 500px;
    }

    .filter-bar>div.filter-bar-secondary {
        display: none;
    }

    .filter-bar>div.filter-bar-secondary.show {
        display: flex;
    }

}

@media screen and (min-width: 888px) {
    .filter-bar>div.filter-bar-secondary {
        display: flex;
        flex-direction: row;
    }
}