.a-z-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary);
    border: 1px solid var(--tertiary);
    flex-wrap: wrap;
}

.a-z-wrapper a {
    text-decoration: none;
    color: var(--font-colour);
    padding: 0.5rem;
}

.a-z-wrapper a:hover {
    color: var(--background);
    background-color: var(--primary);
}

.filter-bar {
    display: flex;
    width: 100%;
    padding: 1rem;
    gap: 1rem;
}

.filter-bar>div {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    color: var(--secondary-font-colour);
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: var(--secondary);
    max-width: 500px;
    border: 1px solid var(--tertiary);
    border-radius: 1rem;
    position: relative;
}

.search-bar button {
    font-size: 1.5rem;
    color: var(--tertiary);
    height: 100%;
    padding-right: 1rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: grid;
    place-content: center;
    background-color: transparent;
}

.search-bar button:hover {
    color: var(--font-colour);
}

.search-bar input {
    background-color: transparent;
    border: none;
    padding: 1rem 0 1rem 1rem;
    color: var(--font-colour);
    width: 100%;
    font-size: 1rem;
}

.search-bar input:focus {
    outline: none;
}

/* Dropdown */
.dropdown-container {
    position: relative;
    display: inline-block;
    width: 200px;
}

.dropdown-container span {
    z-index: 1;
    position: absolute;
    top: 1rem;
    right: 1rem;
    pointer-events: none;
}

.custom-dropdown {
    appearance: none;
    background-color: var(--secondary);
    border: 1px solid var(--tertiary);
    border-radius: 1rem;
    padding: 1rem;
    width: 100%;
    font-size: 16px;
    color: var(--font-colour);
    cursor: pointer;
    position: relative;
}

.custom-option {
    padding: 1rem;
    background-color: var(--background);
    color: var(--font-colour);
    cursor: pointer;
}

select option:hover {
    background: var(--secondary);
}