footer {
    margin-top: auto;
    padding: 1rem;
    background-color: var(--secondary);
}

.footer-content {
    display: flex;
    align-items: center;
}

footer ul {
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

footer .logo {
    flex: 1;
}

footer li {
    list-style: none;
}

footer a {
    color: var(--tertiary);
}

@media screen and (max-width: 888px) {
    .footer-content {
        flex-direction: column;
    }
}