.navbar {
    background-color: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    padding-inline: 3rem;
}

.navbar .logo {
    max-width: 150px;
}

.navbar .logo img {
    width: 100%;
}

.navbar ul {
    display: flex;
    gap: 1.5rem;
}

.navbar li {
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: var(--secondary-font-colour);
}

.navbar a:hover {
    color: var(--font-colour);
}