.header {
    display: flex;
    align-items: center;
    background-color: var(--secondary);
    border-bottom: 2px solid #6B6B6B;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0;
}

.navbar {
    display: flex;
    padding: 1rem 3rem;
    display: flex;
    align-items: center;
}

.menu-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    list-style: none;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    font-weight: bolder;
    text-decoration: none;
    color: var(--secondary-font-colour);
}

.nav-links a:hover,
.toggle-theme svg:hover {
    color: var(--font-colour);
}

.nav-links .login:hover,
.nav-links .register:hover {
    color: var(--secondary);
}

.nav-links .login {
    background-color: var(--tertiary);
}

.nav-links .login,
.nav-links .register {
    color: var(--secondary);
    padding: 0.75rem 2rem;
    border-radius: 1.5rem;
}

.nav-links .register {
    background-color: var(--primary);
}

.menu-close {
    display: none;
}

.toggle-theme {
    cursor: pointer;
}

.toggle-theme svg {
    color: var(--tertiary);
    font-size: 1.5rem;
}

.nav-links .logout {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.nav-links .logout:hover {
    color: var(--red);
}

@media screen and (max-width: 888px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 58px;
        right: 0;
        width: clamp(200px, 80%, 400px);
        height: 100%;
        gap: 0;
        background-color: var(--secondary);
        padding: 0;
        text-align: center;
        z-index: 999;
    }

    .nav-links.open {
        display: flex;
    }

    .menu-close {
        display: flex;
    }

    .nav-links>li a,
    .toggle-theme {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.5rem 0;
        border-bottom: 1px solid var(--tertiary);
    }

    .nav-links .login,
    .nav-links .register {
        border-radius: 0;
        padding: 1.5rem 0;
    }

    .menu-icon {
        display: block;
        color: var(--font-colour);
    }

    .navbar li,
    .navbar li a,
    .toggle-theme {
        width: 100%;
    }

    .navbar li a {
        display: block;
    }

    .nav-links .logout {
        margin-top: auto;
    }
}