.pagination {
    display: grid;
    place-items: center;
}

.pagination-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.25rem;
}

.pagination-buttons>li {
    list-style: none;
}

.pagination-buttons .page-ellipsis {
    padding: 0.5rem;
    border: 1px solid transparent;
    background-color: var(--background);
    color: var(--font-colour);
    cursor: text;
    border-radius: 6px;
    font-size: 0.9rem;
    height: 35px;
}

.pagination-buttons .page-btn {
    padding: 0.5rem;
    border: 1px solid var(--secondary);
    background-color: var(--secondary);
    color: var(--font-colour);
    cursor: pointer;
    border-radius: 6px;
    font-size: 0.9rem;
    height: 35px;
}

.pagination-buttons .page-btn:hover {
    text-decoration: underline;
    border: 1px solid var(--tertiary);
}

.pagination-buttons .page-btn:disabled {
    cursor: default;
    color: var(--tertiary);
    opacity: 0.5;
}

.pagination-buttons .page-btn:disabled:hover {
    border-color: transparent;
}

.pagination-buttons .page-btn.active {
    background-color: var(--primary);
    color: var(--secondary);
    font-weight: bold;
}

.page-input-section {
    display: flex;
    align-items: center;
}

.page-input-section label {
    margin-right: 1rem;
}

.page-input-section input {
    width: 50px;
    padding: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border: 1px solid var(--tertiary);
    background-color: var(--background);
    color: var(--font-colour);
    border-right: none;
}

.page-input-section button {
    cursor: pointer;
    padding: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border: 1px solid var(--tertiary);
    background-color: var(--primary);
    color: var(--secondary);
    font-weight: bolder;
}